.content {
  /* border: 2px solid black; */
  /* display: inline-block; */
  /* width: 69%; */
  background-color: #e3fdfd;
  position: relative;
  margin-left: 17.2%;
  font-family: "Lato", sans-serif;
  /* height: 100%; */
  /* padding: 20px; */
}
