.content-details {
  /* border: 2px solid brown; */
  /* height: 300px; */
  margin-top: -15%;
  color: azure;
}
.detail-container {
  margin: 20px 16px;
  /* border: 2px solid yellow; */
  background-color: white;
  color: darkgrey;
  border-radius: 15px;
  /* height: 100%; */
  padding: 10px;
}
.detail-heading {
  margin-top: 10px;
  /* border: 3px solid blue; */
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.detail-heading-left {
  display: inline-block;
  margin-left: 30px;
  padding: 10px;
  /* border: 2px solid red; */
  /* width: 50%; */
  /* float: left; */
}
.detail-heading-right {
  display: inline-block;
  /* border: 2px solid goldenrod; */
  /* width: 50%; */
  margin-right: 30px;
}
.detail-heading-right > ul {
  list-style-type: none;
  display: flex;
  font-size: small;
}
.timeline {
  margin-left: 10px;
  /* border: 2px solid red; */
  padding: 10px;
  border-bottom: 3px solid white;
}
.timeline:hover {
  border-bottom: 3px solid #51c2d5;
  color: #0f1123;
}

.detail-graphs {
  /* border: 3px solid green; */
  padding: 10px;
  /* margin-top: 10px; */
}

.detail-graph-1 {
  /* border: 2px solid skyblue; */
  padding: 10px;
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(250, 50, 100, 0.8);
}
.subgraph {
  /* border: 2px solid brown; */
  /* padding: 10px; */
  display: flex;
  margin-top: 20px;
  flex-direction: row;

  justify-content: space-between;
}
.subgraph-1 {
  /* border: 2px solid red; */
  /* display: inline-block; */
  width: 47.5%;
  padding: 10px;
}
.subgraph-2 {
  /* border: 2px solid red; */
  /* display: inline-block; */
  width: 47.5%;
  padding: 10px;
  /* margin-left: 20px; */
}

.card {
  border-radius: 10px;
  box-shadow: 0 0 8px 2px rgba(120, 120, 120, 0.6);
}
